<div class="control-panel">
    <div class="control-panel-item">
        <select class="custom-select" name="change_user_controller">
            <option name="controller_field" value="select_option" disabled selected>Select Option</option>
            <option name="controller_field" value="delete">Delete</option>
            <option name="controller_field" value="assign_role">Assign Role</option>
        </select>
    </div>
    <div class="control-panel-item control-panel-item-right">
        <select class="custom-select" name="change_user_controller">
            <option name="controller_field" selected>Select All</option>
            <option name="controller_field">Unselect All</option>
            <option name="controller_field">Select This Page</option>
            <option name="controller_field">Unselect This Page</option>
        </select>
<!--        <button type="button" class="btn btn-primary select-action">Select All</button>-->
<!--        <button type="button" class="btn btn-warning select-action">Unselect All</button>-->
<!--        <button type="button" class="btn btn-success select-action">Select This Page</button>-->
<!--        <button type="button" class="btn btn-warning select-action">Unselect This Page</button>-->
        <button type="submit" class="btn btn-success">Apply</button>
    </div>
</div>