<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <main>
        <index>
            <regex>/^$/</regex>
            <controller>Messages/Index</controller>
        </index>
    </main>
    <messages>
        <add>
            <regex>/^messages\/add\/?$/</regex>
            <controller>Messages/Add</controller>
        </add>
        <main>
            <regex>/^messages\/?$/</regex>
            <controller>Messages/Index</controller>
        </main>
        <delete>
            <regex>/^messages\/([1-9]+\d*)\/delete\/?$/</regex>
            <controller>Messages/Delete</controller>
            <params>
                <id>1</id>
            </params>
        </delete>
        <edit>
            <regex>/^messages\/($intGT0)\/edit\/?$/</regex>
            <controller>Messages/Edit</controller>
            <params>
                <id>1</id>
            </params>
        </edit>
    </messages>
    <authorize>
        <login>
            <regex>/^login\/?$/</regex>
            <controller>Authorize/Login</controller>
        </login>
        <logout>
            <regex>/^logout\/?$/</regex>
            <controller>Authorize/Logout</controller>
        </logout>
        <register>
            <regex>/^register\/?$/</regex>
            <controller>Authorize/Register</controller>
        </register>
        <forgotPass>
            <regex>/^forgot_pass\/?$/</regex>
            <controller>Authorize/ForgotPass</controller>
        </forgotPass>
        <forgotPassConfirm>
            <regex>/^forgot_pass_confirm\/?$/</regex>
            <controller>Authorize/ForgotPassConfirm</controller>
        </forgotPassConfirm>
        <сhangePass>
            <regex>/^change_pass\/?$/</regex>
            <controller>Authorize/ChangePass</controller>
        </сhangePass>
    </authorize>
    <roles>
        <main>
            <regex>/^roles\/?$/</regex>
            <controller>Admin/Roles</controller>
        </main>
        <edit>
            <regex>/^roles\/user\/($intGT0)\/edit\/?$/</regex>
            <controller>Admin/EditRole</controller>
        </edit>
        <modify>
            <regex>/^roles\/($intGT0)\/modify\/?$/</regex>
            <controller>Admin/ModifyRole</controller>
            <params>
                <id>1</id>
            </params>
        </modify>
        <delete>
            <regex>/^roles\/($intGT0)\/delete\/?$/</regex>
            <controller>Admin/DeleteRole</controller>
            <params>
                <id>1</id>
            </params>
        </delete>
    </roles>
    <rise>
        <main>
            <regex>/^rise\/request\/?$/</regex>
            <controller>Rise/Request</controller>
        </main>
        <changeRise>
            <regex>/^rise\/($intGT0)\/change_rise\/?$/</regex>
            <controller>Rise/ChangeRise</controller>
        </changeRise>
        <changeRises>
            <regex>/^rise\/change_rises\/?$/</regex>
            <controller>Rise/ChangeRises</controller>
        </changeRises>
    </rise>
    <block>
        <main>
            <regex>/^block_users\/?$/</regex>
            <controller>Admin/BlockUsers</controller>
        </main>
    </block>
    <other>
        <cli>
            <regex>/^CLI$/</regex>
            <controller>CLI/CLI</controller>
        </cli>
        <statistics>
            <regex>/^statistics\/?$/</regex>
            <controller>Admin/Statistics</controller>
        </statistics>
        <contacts>
            <regex>/^contacts\/?$/</regex>
            <controller>Contacts/Contacts</controller>
        </contacts>
    </other>
    <pages>
        <mainList>
            <regex>/^pages\/?$/</regex>
            <controller>Pages/PagesList</controller>
        </mainList>
        <create>
            <regex>/^pages\/create_page\/?$/</regex>
            <controller>Pages/CreatePage</controller>
        </create>
        <edit>
            <regex>/^pages\/($intGT0)\/edit$\/?$/</regex>
            <controller>Pages/EditPage</controller>
            <params>
                <id>1</id>
            </params>
        </edit>
        <delete>
            <regex>/^pages\/($intGT0)\/delete$\/?$/</regex>
            <controller>Pages/DeletePage</controller>
            <params>
                <id>1</id>
            </params>
        </delete>
        <page>
            <regex>/^($text)\/?$/</regex>
            <controller>Pages/Page</controller>
            <params>
                <id>1</id>
            </params>
        </page>
    </pages>
    <error>
        <main>
            <regex>/^error404$/</regex>
            <controller>Errors/E404</controller>
        </main>
    </error>
</routes>